/* start custom css admin */
.pptx_icons{
    background-color: #ffa500c9;
    color: #fff;
    font-size: .75rem!important;
    padding: 2px;
    border-radius: 2px;
  }
.group_icons_fs{
    font-size: 1.3rem!important;
}
.css-1voojl0-MuiTableCell-root ,.css-10ukr6t-MuiTableCell-root{
    padding: 5px 16px!important;
}
.css-1t7lzbz-MuiTableCell-root{
  font-size: 1.1rem!important;
}
.css-10ukr6t-MuiTableCell-root{
  font-size: 1rem!important;
}
  /* end custom css admin */
  /* reset password start */
  .password-strength {
    margin-top: 5px;
    font-size: 12px;
  }
  
  .password-strength.weak {
    color: red;
  }
  
  .password-strength.medium {
    color: orange;
  }
  
  .password-strength.strong {
    color: green;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  


  .font_size_13{
    font-size: 14px!important;
  }
  .bg_blue{
    background-color: #1976d2!important;
  }
  .sidebar-header{
    justify-content: center;
  }
  .sidebar-menu .menu-item{
    padding: 0.75rem .5rem!important;
  }
  .sidebar{
    padding: 0px!important;
  }
  .css-20bmp1-MuiSvgIcon-root{
    height: 16px!important;
  }
  .menu-item.active{
    border-bottom: 1px solid #fff;
  }
  .css-7ib2jg-MuiButtonBase-root-MuiButton-root{
    background-color: #1976d2!important;
    margin-bottom: 2%!important;
  }
  /* end reset password */

    .css-1dtoofl-MuiPaper-root {
      height: 70vh!important;
    }
  
    .css-1dtoofl-MuiPaper-root::-webkit-scrollbar {
      width: 5px;
    }
  
    .css-1dtoofl-MuiPaper-root::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    .css-1dtoofl-MuiPaper-root::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    .css-1dtoofl-MuiPaper-root::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
.customFolderIcon {
  margin-right: 9px;
  color: #eba119;
  height: 25px !important;
}